
body{
    background-color: rgb(12, 213, 220);
}
.time{
    text-align: center;
    margin-top: 20%;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin: 70px;
    margin-left: 30%;
    margin-right: 20%;
    background-color: rgb(29, 238, 10,0.4);
}
.time button{
    margin: 5px;
    margin-top: 30px;
    color: blueviolet;
    background-color: aqua;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hour{
    font-size: 30px;
    font-weight: bold;
}
#min{
    font-size: 30px;
    font-weight: bold;
}
#sec{
    font-size: 30px;
    font-weight: bold;
}